* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;

  background-color: #ddfff7;
}
p {
  font-size: 18px;
  line-height: 30px;
}
h2 {
  font-size: 25px;
}
h1 {
  font-size: 40px;
  letter-spacing: 2px;
}

.header {
  text-align: center;
}
.name {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}
.header h1 {
  margin: 10px;
  padding: 10px 35px;
  /* width: 300px; */
  border-radius: 15px;
  background-color: #ee6352;
  /* ffa69e */
}
.about {
  display: flex;
  background-color: #93e1d8;
  padding: 15px;
}
img {
  width: 100%;
}

.about img {
  height: 400px;
  max-width: 300px;
}
.details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 100px 30px;
}

.container {
  width: 100%;
  padding: 10px 50px;
}

.skills,
.about,
.hobbies,
.map,
.contact {
  margin-bottom: 50px;
}

/* main */

.main {
  display: flex;
  flex-direction: column;
}
.small-container {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  /* background-color: #93e1d8; */
}
.map-container {
  /* height: 100vh; */
  padding: 15px 10px;
  display: flex;
  flex-direction: column;
  /* align-items: space-evenly; */
  justify-content: space-evenly;
  /* background-color: #93e1d8; */
  align-items: center;
}

h2 {
  position: relative;
  padding: 10px 0;
  letter-spacing: 5px;
}
h2::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 70px;
  height: 7px;
  border-radius: 10px;
  background-color: #ffa69e;
  /* ffa69e */
}
.photos {
  display: flex;
  width: 100%;
  /* padding: 50px; */
  /* height: 100%; */

  justify-content: space-between;

  /* background-color: #93e1d8; */
}
.photos img {
  height: 70px;
  width: 50px;
  margin: 30px;
}
#hobby {
  height: 200px;
  width: 270px;
}

/* Special cases */
#js {
  width: 55px;
}
#html {
  width: 70px;
}
#react,
#nodejs {
  height: 75px;
  width: 70px;
}

.location {
  width: 100%;
  padding: 25px;
  display: flex;
  justify-content: center;
}
.map {
  height: 100vh;
}
.map-photo {
  margin-top: 15px;
}

.social {
  margin-top: 20px;
  display: flex;
  /* text-align: center; */
  justify-content: space-around;
  width: 100%;
  padding: 40px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  /* opacity: 0.1; */
}
a {
  /* margin: 5px; */
  color: black;
  text-decoration: none;
}

h3 {
  margin: 10px 0;
}
.copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 25px;
  font-weight: 600;
}
.col-3 {
  flex-basis: 33%;
  color: black;
}
hr {
  background: black;
  height: 2px;
}
